<% provide(:title, @taxon.name) %>
<%= render "top_light_section", taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "left_side_bar", taxonomies: @taxonomies %>
      <%= render "products_grid", products: @products %>
    </div>
  </div>
</section>
<%= render "bottom_light_section" %>
